<launch>
  <!-- Launch robot1 node -->
    <param name="robot_ip" value="192.168.28.133"/>
    <node name="r1_node" pkg="init_pkg" type="init_pose.py" output="screen">
      <remap from="/odom" to="/turtlebot_1/odom_1" />
      <remap from="/scan" to="/turtlebot_1/scan_1" />
    </node>

 </launch>
